/**************************
* General settings
**************************/

body {
    margin: 0;
    padding: 0;
    font: normal 12px sans-serif;
}

main {
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 5%;
}

main a:visited {
    color: blue;
}

main div {
    margin-bottom: 20px;
}

/**************************
* Header
**************************/

header {
    margin: 0;
    padding: 5px 10px 10px 20px;
    background-color: #4a8a16;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    color: white;
}

header div {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

/***************
* Header - Link
****************/

header div a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

header div a:hover {
    text-decoration: underline;
}

/**************************
* Table
**************************/

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4a8a16;
    color: white;
}

/**************************
* Infoboxes
**************************/

.infobox {
    background-color: #4a8a16; /* Green */
    padding: 10px;
    margin: 10px 0 10px 0;
    color: white;
}

.warning {
    background-color: #b01c1c; /* Red */
    padding: 10px;
    margin: 10px 0 10px 0;
    color: white;
}

.log {
    background-color: #555555; /* Grey */
    padding: 10px;
    margin: 10px 0 10px 0;
    color: white;
}

/**************************
* Dropdown button
**************************/

.dropbtn {
    background-color: #4a8a16;
    color: white;
    padding: 8px;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #555555;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4a8a16;
    min-width: 100px;
    overflow: auto;
    z-index: 1;
}

.dropdown a:hover {
    background-color: #555555;
}

.dropdown-content a {
    color: white;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

/**************************
* Formulare
**************************/

/***************
* Formulare - Button
****************/

button {
  background-color: #262525; /* Black */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button:hover {
  background-color: #555555; /* Black */
}

/***************
* Formulare - Input (Text)
****************/

input[type=text], input[type=password] {
  width: 50%;
  padding: 6px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus {
  border: 3px solid #555;
}

/* Responsive Design */
@media (max-width: 1000px) {
    input[type=text], input[type=password] {
        width: 100%;
    }
}

/**************************
* Stop iOS rounded style
**************************/

/*
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
button,
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}*/