/**************************
* General settings
**************************/
body {
    margin: 0;
    padding: 0;   
    font: normal 12px sans-serif;
}

main {
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 5%;
}

main a:visited {
    color: blue;
}

/**************************
* Header
**************************/
header{
    margin: 0;
    padding: 5px 10px 10px 20px;
    background-color: #4a8a16;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
    color: white;
}

header div{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

/***************
* Header - Link
****************/
header div a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
header div a:hover{
    text-decoration: underline;
}

/**************************
* Table
**************************/
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /*width: 100%;*/
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4a8a16;
  color: white;
}

/**************************
* Infobox
**************************/
.infobox {
    background-color: #4a8a16;
    padding: 10px;
    margin: 10px 0 10px 0;
    color: white;
}

.warning {
    background-color: #b01c1c;
    padding: 10px;
    margin: 10px 0 10px 0;
    color: white;
}

/**************************
* Stop iOS rounded style
**************************/
/*
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
button,
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}*/